<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
        <title>{% block title %}{% endblock %} - Blog from GanZiB</title>
    {% endblock %}
</head>
<body>
<div id="header">
    {% block header %}
        {% if not session.logged_in %}
            <a href="/user/login">登录</a>
            <a href="/user/register">注册</a>
        {% else %}
            <a href="/user/logout">登出</a>
        {% endif %}
    {% endblock %}
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="footer">
    {% block footer %}
    {% endblock %}
</div>

</body>
</html>