<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>{% block title %}{% endblock %} - Blog from GanZiB</title>
    {% endblock %}
</head>
<body style="align-content: center;background-color: #efffeb;">
<div id="header"
     style="align-content: center;margin-left: 20%;font-size: 240%;font-family: 'Microsoft Himalaya';background-color: #efffeb;">
    {% block header %}
        {% if not session.logged_in %}
            <a href="/user/login">登录</a>
            <a href="/user/register">注册</a>
        {% else %}
            <a href="/user/logout">登出</a>
            <p style="font-size: 50%;">欢迎您！ {{ session.username }}</p>
        {% endif %}
        &nbsp;&nbsp;&nbsp;
        <a href="/">首页</a><br/>
    {% endblock %}
</div>
<div id="search"
     style="align-content: center;margin-left: 20%;font-size: 240%;font-family: 'Microsoft Himalaya';background-color: #efffeb;">
    {% block search %}
        <form id="search_form" action="/search/book" method="post">
            <label><font style="color:#a94442">小说名：</font></label>
            <input id="book_name" name="book_name"><br/>
            <div>
                <button type="submit" class="btn btn-default">搜索</button>
            </div>
        </form>
    {% endblock %}
</div>
<div id="content">
    {% block content %}

    {% endblock %}
</div>
<div id="footer">
    {% block footer %}
    {% endblock %}
</div>
</body>
<script type="text/javascript">
    function to_home() {
        window.location.href = '/'
    }
</script>
</html>