{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">

    </style>
{% endblock %}
<h1>首页</h1>
{% block content %}
    <div style="width:80%;height:auto;align-content: center;margin-left: 10%;font-size: 240%;font-family: 'Microsoft Himalaya'">
        <ul>
            {% for item in categorys %}
                <li><a href="/category/{{ item.category_id }}">{{ item.category }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}