{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div style="align-content: center">
        <h1><p><span>{{ book.book_name }}</span></p></h1>
    </div>
    <ul>
        {% for section in sections %}
            <li><span>{{ section.section_order }}<a href="/section/{{ section.book_id }}/{{ section.section_order }}">---{{ section.title }}</a></span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}