{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        ul {
            list-style: none;
            display: inline-block;
            overflow: auto;
            margin-left: 7%
        }

        ul li {
            display: inline;
            float: left;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/joke.css') }}"/>
{% endblock %}
{% block content %}
    <div class="wrapper" style="text-align: center">
        <ul>
            {% for item in pagination.items %}
                <li style="width: 450px">
                    <div class="source">
                        <div>
                            <video style="width: 400px;height: 300px" src="{{ item.video_url }}"
                                   poster="{{ item.cover }}" controls="" preload="none"
                                   playsinline="" webkit-playsinline="webkit-playsinline" x-webkit-airplay="allow"
                                   style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);"></video>
                        </div>
                        <div class="name"><a title="{{ item.video_name }}">
                            <div style="width:100px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis">{{ item.video_name }}</div>
                            ></a>---{{ item.video_author }}
                        </div>

                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div style="text-align: center;font-size: 2rem;">
        {% if pagination.has_prev %}
            <a class="page" style="text-decoration:none" href="/video/list/page/{{ pagination.page - 1 }}">上一页</a>
            <a class="page" style="text-decoration:none" href="/video/list/page/1">第一页</a>
        {% endif %}
        {% if pagination.has_next %}
            <a class="page" style="text-decoration:none" href="/video/list/page/{{ pagination.page + 1 }}">下一页</a>
        {% endif %}
    </div>
{% endblock %}